<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561556376341-m3658ummr0pm1cp0qqint4bncj79bsvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561556376341-m3658ummr0pm1cp0qqint4bncj79bsvv</string>
	<key>API_KEY</key>
	<string>AIzaSyBXQYT5D5w1pK2UY4CbU93Vybi7MnaQJO0</string>
	<key>GCM_SENDER_ID</key>
	<string>561556376341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.innovaciones.techfrenetic</string>
	<key>PROJECT_ID</key>
	<string>tech-frenetic-1d608</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-frenetic-1d608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561556376341:ios:43796e0d0e7ea6441bf71c</string>
</dict>
</plist>